<div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Nhập số điện thoại" name="phone" id = '1'>
                        </div>
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Nhập password" name="password">
                        </div>

</div>                        